version: "3.3"
services:
  web:
    build: .
    image: socialbackend/django
    command: "python manage.py runserver 0.0.0.0:8080"
    ports:
      - "8080:8080"
    volumes:
      - .:/app/backend
    
    env_file:
      - .env

    
  migrations:
    build: .
    image: socialbackend/django
    command: "python manage.py migrate --noinput"
    volumes:
      - .:/app/backend

